body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* <<< ADD THIS */
    justify-content: flex-start; /* <<< ADD THIS */
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  
 
  
  /*-----------------------------------------------------------*
    Firebase status div styling
  /*----------------------------------------------------------*/
  #s_fbStatus {
    display: block;
    margin: 0px;
    padding-top: 4px;
    font-size: 14px;
  }
  
  .p_fbStatus {
    display: inline-block;
    margin: 0px;
    padding-top: 4px;
    margin-right: 20px; /* Add some spacing between paragraphs */
  }
  